@model IEnumerable<HealthStory.Web.Models.SubstanceDefinition.SubstanceInfoReadViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Substances List</h2>

@Html.ActionLink("Create new substance info", "Create")
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Max
            </th>
            <th>
                Min
            </th>
            <th>
                Unit
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Max)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Min)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
            </tr>
        }
    </tbody>
</table>
