@model HealthStory.Web.Application.BloodTest.User.UserBloodTestDto

@{
    ViewData["Title"] = "New";
}

<h1>@Html.DisplayFor(x => x.Name)</h1>
<h2>@Html.DisplayFor(x => x.Description)</h2>
<h3>List of substances</h3>

<form method="post" asp-action="Create">

    @Html.HiddenFor(x => x.BloodTestId)
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Substances.Count; i++)
            {
                <input name="Substances[@i].SubstanceInfoId" type="hidden" value="@Model.Substances[i].SubstanceInfoId">
                <tr>
                    <td>
                        @Model.Substances[i].Name
                    </td>
                    <td>
                        <input type="number" name="Substances[@i].Value" class="form-control" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <section class="row">
        <button type="submit" class="btn btn-success">Save</button>
    </section>
</form>